<%= render "layouts/errors", :object => @message %>

<%= form_for @message do |f| %>

  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_field :to, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit "Send Message", class: "btn btn-info", id: "form-button" %>
  </div>
<% end %>
